html,body {
  background: black;
  background-color: black;
  font-family: Handel Gothic;
  font-size: 50px;
}
header {
  text-align: center;
  font-color: blue;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}
#img-div{
  font-family: Times New Roman;
  color: white;
  text-align: center;
  font-size: 25px;
}
#tribute-info{
  font-family: Times New Roman;
  font-size: 25px; 
  color: white;
  text-align: center;
}
h2 {
  margin: 15px;
}
h3 {
  margin: 25px;
}
@font-face {font-family: "Handel Gothic";
    src: url("//db.onlinewebfonts.com/t/83637255adf8b8192d61945c8b301f7c.eot");
    src: url("//db.onlinewebfonts.com/t/83637255adf8b8192d61945c8b301f7c.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/83637255adf8b8192d61945c8b301f7c.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/83637255adf8b8192d61945c8b301f7c.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/83637255adf8b8192d61945c8b301f7c.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/83637255adf8b8192d61945c8b301f7c.svg#Handel Gothic") format("svg");